# Track large dataset files
datasets/filtered_recipes_1m.csv.gz filter=lfs diff=lfs merge=lfs -text
datasets/Food_Product_Emissions.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
datasets/food_ingredients_and_allergens.csv filter=lfs diff=lfs merge=lfs -text
datasets/filtered_recipes_1m.csv filter=lfs diff=lfs merge=lfs -text
